#header{
    padding: 0px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}

.nivel{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nivel .num-nivel{
    width: 4rem;
    padding: 1rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}   