#root{
    width: 50rem;
    height: 30rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(233, 221, 221);
    margin: auto;
    padding: 0.5rem;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}
#root > div{
    background-color: red;
    border-radius: 0.5rem;
    
}



.carta{
    height: 100%;
    background-color: orange;
    font-size: 4rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.carta:hover{
    cursor: pointer;
    background-color: rgb(70, 46, 2);


}

@media(max-width: 375px){
    #root{
        width: 37.5rem;
        height: 100%;
        border-radius: 0.5rem;
        border: 0.2rem solid rgb(233, 221, 221);
        margin: auto;
        padding: 0.5rem;
        margin-top: 10rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
}